typr-header
  .logo
    position: relative
    font-size: 40px
    top: 10px
    left: 10px
    
  .header
    background-color: $COLOR_T

  .link
    display: inline-block
    padding-top: 17px
    padding-bottom: 20px
    font-size: 30px
    text-align: center
    background-color: $COLOR_T
    cursor: pointer

    i
      position: relative
      top: 2px
      right: 10px
      font-size: 26px

  .link:hover
    background-color: $COLOR_P

  .link.selected
    background-color: white
