body
  margin: 0
  padding: 0
  font-family: 'Abel', sans-serif
  // font-family: 'Karla', sans-serif
  // font-family: 'Monda', sans-serif

.centered
  text-align: center

.text-center
  text-align: center

.full
  height: 100%

.no-pad
  padding: 0

.main
  z-index: 1

.bottom-right
  position: fixed
  right: 50px
  bottom: 50px

md-icon:focus
  outline: none

button
  padding: 0
  border: none
  background: none

.top-nav
  font-size: 30px
  padding-left: 50px
  padding-top: 16px
  background-color: #F8FFDF
  height: 80px
  box-shadow: 0px 1px 3px #C5C5C5
  width: 100%
  z-index: 5
  position: relative

.mt3
  margin-top: 30px

.mt2
  margin-top: 20px

.mt1
  margin-top: 10px

.pt1
  padding-top: 10px

.pt2
  padding-top: 20px

h1
  padding-left: 14px

h2
  margin-bottom: 10px

$COLOR_P: #8DCDC1
$COLOR_S: #D3E397
$COLOR_T: #FFF5C3
$COLOR_Q: #EB6E44
$COLOR_G: #7C786A
$GREEN: #B9D25B

@import "./typing/typing"
@import "./typing/typing_directive"
@import "./upload/upload"
@import "./reports/reports"
@import "./header/header"
@import "./button/button"
@import "./snippits/snippits"
@import "./profile/profile"
@import "./login/login"
@import "./main/main"
@import "./recent/recent"
@import "./favorites/favorites"
