body
  margin: 0
  padding: 0

.centered
  text-align: center

.full
  height: 100%

.no-pad
  padding: 0

$COLOR_P: #8DCDC1
$COLOR_S: #D3E397
$COLOR_T: #FFF5C3
$COLOR_Q: #EB6E44
$COLOR_G: #7C786A

@import "./typing/typing"
@import "./typing/typing_directive"
@import "./upload/upload"
@import "./reports/reports"
