html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css')
    link(rel='stylesheet', href='app.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Abel|Karla|Monda', type='text/css')
    script(src='app.js')
    script(src='templates.js')
  body(ng-app='typr')
    .top-nav 
      span [Typr.IO]
    .container-fluid
      .row
        .col-md-12.main(ui-view="main")
