//- div PROFILE
//- 
//- .col-sm-4
//-   most recent Snippits
//-   
//- .col-sm-4
//-   CPM (Yours) VS time
//-   
//- .col-sm-4
//-   Mistakes Vs Time
//-   
//- .col-sm-4
//-   Your Top Snippits
//-   
//- .col-sm-4
//-   Your Worst Snippits
//- 
//- .col-sm-6
//-   Your Best Keys
//-   
//- .col-sm-6
//-   Your Worst Keys
