.row
  .col-md-6
    h1 Type Your Code!
    h2 Chars Per Minute (CPM): {{charsPerMin}}
    h2 Tokens Per Minute (CPM): {{tokensPerMin}}
    h2 Accuracy: {{accuracy | number:2}}% (Correct {{correct}} / Total: {{strokes}}))
    h2 Seconds Elapsed: {{secElapsed}}
    h2 Average Token Length: {{averageTokenLen}}
    
  .col-md-6
    typr-typing.typing
