typr-typing
  display: inline-block

  input
    opacity: 0
    position: fixed

  .red
    background-color: orange

  .char
    color: gray

  .code
    text-align: left
    font-size: 20px

  .complete
    color: black
